.Overlay_Styles{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.Modal_Styles{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 1px 50px;
    z-index: 1000;
}
.bold{
    font-weight: 700;
}
.crossButton{
    cursor: pointer;
    background-color: transparent;
    margin-left: 100%;
    border: none;
}
.tagsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
    
}

.likesNum{
    margin-right: 10px;
   font-size: 15px;
   
   margin-left: 8px;
  
}
.likesContainer{
    color: rgb(86, 86, 86);
    align-items: center;
    display: flex;
    justify-content: center;
}
.lowerDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagsHeading{
    font-size: 13px;
    font-weight: 900;
    color: rgb(78, 78, 78);
    margin-left: 10px;

}

    @media only screen and (max-width: 600px) {
        .ModalCard{
           width: 300px;
           height: max-content;
            
            }
      }
