.App{
columns: 3;
column-gap: 5px;

}
.AppContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
    width: 100%;
}
@media only screen and (max-width: 700px) {
    .App{
        columns: 1;
        column-gap: 5px;
        
        }
  }